.filterItem {
    position: relative;
    margin: 0 10px;
}

.name {
    background: #fff;
    padding: 10px;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    font-weight: 500;
    color: #2C2C31;
    position: relative;
    z-index: 2;
    cursor: pointer;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #000;
    margin: 0 0 0 10px;
    transition: all 0.5s ease 0s;
}
.arrow.active {
    border-top: none;
    border-bottom: 8px solid #000;
}

.itemsContainer {
    border: 1px solid #FFFFFF;
    box-shadow: 2px 6px 16px rgba(174, 182, 202, 0.31);
    border-radius: 2px;
    position: absolute;
    top: 42px;
    left: 0;
    min-width: 100%;
    z-index: 1;
    transition: all 1s ease 0s;
    background: #fff;
}
.itemsContainer.active {
    top: -1000%;
}
.item {
    padding: 0 10px;
    background: #fff;
    display: flex;
}
.item input {
    //margin: 0 8px 0 0;
}
.item label {
    line-height: 35px;
    width: 100%;
    padding: 0 0 0 8px;
}

.button {
    font-weight: 500;
    font-size: 12px;
    margin: 9px auto;
    display: block;
    padding: 9px;
    background: #2C2C31;
    border-radius: 2px;
    color: #fff;
    text-align: center;

}
.button.delete {
    background: transparent;
    color: #2C2C31;
    border: none;
}