
.product {
    flex: 0 1 295px;
    position: relative;
    margin: 0 0 42px 0;
    overflow: hidden;
}

.productInfo {
    position: absolute;
    bottom: -55px;
    left: 0;
    background: #fff;
    width: 100%;
    transition: all 0.5s ease 0s;
}
.productInfo.active {
    bottom: 0;
}

.percent {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 15px;
    background: #E85858;
    color: #fff;
    font-weight: 600;
}

.priceContainer {
    display: flex;
    margin: 14px 8px 5px 8px;
}

.discountPrice {
    color: #F44E51;
    font-weight: 600;
}
.price {
    font-weight: 500;
    opacity: 0.8;
    color: #2C2C31;
    text-decoration: line-through;
    margin: 0 4px 0 0;
}

.image {
    max-width: 100%;
    padding: 427px 0 0 0;
}

.icon {
    max-width: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.basket {
    background: #2C2C31;
    border-radius: 2px;
    padding: 11px 19px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}

.basket>img{
    margin: 0 0 0 8px;
}

.sizeAndBasket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 7px 12px 7px;
}


.size {
    font-weight: 600;
    font-size: 11px;
    color: #B1B1B1;
    text-transform: uppercase;
    position: relative;
}

.size:after {
    content: '|';
}

.size:last-child:after {
    display: none;
}

.size.active {
    color: #0F0F0F;
}